/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
 u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Main */



body{
    font-family: 'Poppins', sans-serif;
}
html{
    font-size: 20px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.flex{
    display: flex;
    align-items: center;
}
.flex-middle{
    display: flex;
    align-items: center;
    justify-content: center;
}
.middle{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.between{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.flex-around{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.flex-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about-banner{
    background-image: url(../assets/media/hero/about_hero.jpg);
    width: 100%;
    height: 300px;
    background-size: cover;
    color: white;
  
}
.service-banner{
    background-image: url(../assets/media/hero/services_hero.jpg);
}
.case-banner{
    background-image: url(../assets/media/hero/cases_hero.jpg);
}
.contact-banner{
    background-image: url(../assets/media/hero/contact_hero.jpg);
}
.blog-banner{
    background-image: url(../assets/media/hero/blog_hero.jpg);
}
.banner-title{
    margin-bottom: 50px;
    color: #F6F9FE;
    font-size: 2.5rem;
    font-weight: 800;

    display: flex;
    justify-content: center;
   align-items: center;
}

/* hedaer  */


header{
    padding: 20px 0px;
    background-color: #012D5B;
    color: white;
    font-size: 0.8rem;
}
.location{
    margin-right: 20px;
}
.flex i{
    margin-right: 14px;
}
.flex ul li a{ 
    margin-left: 20px;
    text-decoration: none;
    color: #012D5B;
    font-size: 0.8rem;
    font-weight: 700;
}
.page-link{
    padding:30px 0px;
}
.flex .nav-bar-btn .contact-now{
    font-size: 0.7rem;
    font-weight: 500;
    padding: 10px 15px;
    background-color: #F3636A;
    color: white;
    border-radius: 5px;
}

/* header-end */

.home-bg{
    background: url(../assets/media/hero/h1_hero.jpg);
    background-size: cover;
    width: 100%;
    height: 800px;
    position: relative;
}
.welcome{
    color: #F3636A;
}
.welcome-title{
    font-size:2.8rem ;
    font-weight: 800;
    color: #012D5B;
    padding: 10px 0px;
    line-height: 3.5rem;
}
.learn-more-btn{
    border: 0;
    background-color: #F3636A;
    padding: 12px 30px;
    border-radius: 5px;
    font-size: 0.6rem;
    font-weight: 600;
    color: white;

}
.buson-heading{
    width: 24%;
    position: absolute;
    top: 30%;
    left: 20%;

}
.team{
    background-color: #F6F9FE;
    padding: 80px 0px;
}

.width-20{
    width: 30%;
    margin: 0px  20px;
}
.width-20 img{
    padding-top: 0;
}
.team-heading{
    font-size: 1rem;
    font-weight: 700;
    padding: 20px 0px;
}
.team-heading-para{
    color: #A4AEB8;
    font-size: .8rem;
    line-height: 1.2rem;
}
.width-10{
    width: 20%;
  height: auto;
    border:3px solid #F3636A;
    padding: 30px;
}
.team-heading-withoutimg{
    font-size: 2rem;
    font-weight: 700;
   
}
.border-line{
    background-color: #F3636A;
    width: 100px;
    height: 2px;
    margin: 20px 0px;
}
.width-10 a{
    text-decoration: none;
    color: #32364B;
    font-size: 0.8rem;
    padding-top: 20px;
}
.view-more{
    padding-top: 30px;
}
.third-team{
    position: relative;
    height: 800px;
    
}
.about-page-third-team{
    position: relative;
    height:600px;
}

.width-30{
    padding: 100px 0px;
    width: 30%; 
    position: absolute;
    top: ;
    left: 22%;
}
.width-30 img{

    width: 100%;
    height: 500px;
}
.width-35{
    background:linear-gradient(to right,rgba(250,250,250,.9),rgba(255,255,255,.1));
    width: 20%;
    padding: 20px;
    position: absolute;
   top: 25.5%;
   left: 58%;
   transform: translate(-50%,0);
}
.width-35-1{
    background:linear-gradient(to right,rgba(250,250,250,.9),rgba(255,255,255,.1));
    width: 20%;
    padding: 20px;
    position: absolute;
   top: 34%;
   left: 58%;
   transform: translate(-50%,0);
}
.with-35-heading{
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 2rem;
}
.width-35-para{
    font-size: .8rem;
    line-height: 1.2rem;
    margin-bottom: 20px;
}
.width-15{
    width: 16%;
    text-align: center;
    padding: 100px 0px;
    background-color: #FCFDFF;
}
.service-block{

    padding: 50px 0px;
}
h3{
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
}
.stock-margin{
    margin: 0px 20px;
}
.fa-clipboard-list, .fa-calculator{
    font-size: 1.5rem;
}

h4{
    font-size: .9rem;
    font-weight: 600;
    padding: 20px 0px;
}
.service-para{
    font-size:.8rem ;
    line-height: 1.2rem;
    color: #B0B7BE;
}
.more-service-btn{
    background-color: transparent;
    border: 1px solid #F3636A;
    color: #F3636A;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 0.6rem;
}
.case-heading{
    font-size: 1.8rem;
    font-weight: 700;
}
.case-para{
    font-size:.8rem ;
    line-height: 1.2rem;
    color: #B0B7BE;
    line-height: 1.5rem;
    padding: 10px 0px;
}
.see-more-btn{
    background-color: transparent;
    border: 1px solid #F3636A;
    color: #F3636A;
    padding: 10px 20px;
    font-size: 0.7rem;
    border-radius: 5px;
}
.case-block{
    padding: 100px 0px;
    background-color: #F6F9FE;
    position: relative;
    height:350px
   
    
}
.case-container{
    width: 100%;
    height: 100%;
    align-items: flex-start;
    justify-content: flex-start;

}


.case-container .width-25{
    width: 40%;

    
}
.case-container .case-image-container{
    width: 50%;
    height: 348px;
    align-items: flex-start;
    position: absolute;
    right: 10px;
}
.case-container .case-image-container img{
    width: 44%;
    height: 100%;
    object-fit: cover;
}
.case-container .case-image-container .last-case-img{
    width: 10%;
    height: 100%;
    align-self: stretch;
}
.case-image-container img{
    margin-right: 10px;
}
.testimonal-heading{
    text-align: center;
    padding-top: 30px;
}
.width-50{
    width: 50%;
    font-size: 0.8rem;
    text-align: center;
    color: #A4AEB8;
    line-height: 1.2rem;
}
.testimonal-block{
    padding: 100px 0px;
}
.fa-star{
    color: goldenrod;
}
.star-img-block{
    padding: 30px 0px;
}
.testinomal-name{
    font-size: .8rem;
}
.testinomal-surname{
    font-size: .7rem;
    color: #B0B7BE;
}
.recent-news-heading{
    color: #F3636A;
    font-size: .9rem;
}
.news-block{
    width: 92%;
    height: 150px;
    border: 0;
    background-color: #FCFDFF;
    padding: 20px 0px 0px 20px;
}
.recent-news-col{
    padding: 80px 0px;
}
.news-title{
    font-size: 1rem;
    padding: 20px 0px;
    line-height: 1.3rem;
    color:black;
    font-weight: 500;
}
.news-date{
    color: #A4AEB8;
    font-size: .8rem;
}

.request-block{
	background-color: #012D5B;
    padding: 50px  0px;
}
.request-block-heading{
	line-height: 50px;
	font-size: 40px;
	color: white;
	font-weight: 700;
}
.request-block-about{
	font-size: .8rem;
    line-height: 1.5rem;
	color: white;
	padding-top: 25px;
}
.request-title{
    width: 30%;
}
.req1{
	width: 50%;
}
.input{
	padding-top: 15px;
	padding-left: 10px;
	margin: 10px;
	border-radius: 5px;
	border:2px solid  #768492;
	height: 40px ;
	width:280px;
	color: white;	
}
.fill-up{	
	width:370px;
	color: #768492;
}
.send-btn{
	color: white;
	background-color: #FD656B;
	border-radius: 5px;
    margin-left: 10px;
	height: 50px;
	width: 180px;
	border: none;
}
.width-40{
    width: 30%;
}
footer{
    background-color: #F6F9FE;
    padding: 100px 0px;
}
.line{
    padding-bottom: 50px;
    border-bottom: 1px solid grey;
}
.footer-logo-para{
    font-size: .8rem;
    color: #B0B7BE;
    padding: 20px 0px;
    line-height: 1.2rem;
}
.footer-nav-heading{
    color: #012D5B;
    font-size: 0.9rem;
    font-weight: 500;
}
 ul li a{
    text-decoration: none;
    color: #A4AEB8;
    font-size: .8rem;
   
}
ul li{
    padding-top: 10px ;
}
.copyright{
    color: #B0B7BE;
    font-size: 0.8rem;
}
.fa-heart, .name{
    color: #F3636A;
    margin-right: 5px;
}
.copyright-notice{
    padding-top: 30px;
}

.case{
    padding: 100px 0px;
}
.case-img-col{
   
    margin-bottom: 40px;
    position: relative;
    background-color: white;
}
.case-img-heading{
    position: absolute;
    top: 75%;
    left: 0px;
}
.case1{
    height: 457px;
    width: 360px;
}
.case-title{
    font-size: 1rem;
    font-weight: 500;
}
.case-title-about{
    padding: 10px 0px;
    color: #768492;
    font-size: .8rem;
    line-height: 1.3rem;
}
.case-col-1{
    width: 75%;
    background-color: white;
    padding: 10px;
}
.fa-user-circle, .fa-comments{
    margin-left: 10px;
}




.touch-block{
	display: flex;
	justify-content: space-between;
	padding:50px 0px;
}
h2{
	font-size: 30px;
	font-weight: 700;
	padding-top: 50px;
    margin: 30px 0px;
}
.sign{
	width: 60%;
}
textarea{
   
	outline: none;
	width: 99%;
	height: 150px;
	border: 1px solid silver;
	margin-bottom: 10px;
}
.name-area{
	display: flex;
	justify-content: space-between;
}

.enter{
	padding-left: 10px;
	margin-bottom: 10px;
	border: 1px solid silver;
	width: 98%;
	height: 30px;
	outline: none;
}
button{
	/* margin-top: 20px;
	padding: 10px 30px;
	color:#FD656B;
	border:2px solid #FD656B;
	background-color: transparent; 
    border-radius: 5px; */
}
.cloud{
    background-color: #FFFFFF;
    color:#768492;
    border: 0;
    padding: 10px 30px;
    margin: 10px 0px;
}
.contact-details{
	width: 100%;
}
.fa-home,.fa-mobil,.fa-envelope{
    margin-right: 20px;
}
.add{
    padding-bottom: 30px;
}
.contact-area{
    padding: 80px 0px;
}
.send-button{
    color: white;
	background-color: #FD656B;
	border-radius: 5px;
    margin-left: 10px;
	height: 50px;
	width: 180px;
	border: none;
}
.send-button-1{
    color: #F3636A;
	background-color: white;
	border-radius: 5px;
	height: 50px;
	width: 180px;
	border: 1px solid #F3636A;
}



.blog-post{
    padding: 80px 0px;
}
.blog-head{
    font-size: 1rem;
    font-weight: 800;
    color: #012D5B;
}
.blog-head-para{
    line-height: 1rem;
}
.blog-img{
	width: 588px;
	height: 400px;
	position: relative;
}
.day{
	text-align: center;
	padding:30px 40px;
	border-radius: 5px;
	background-color:#FD656B; 
	position: absolute;
	top: 50%;
	left: 5%;

}
.date1{
	font-size: 25px;
	color: #FFFFFF;
}
.fa-user-circle, .fa-comments{
    color: #B0B7BE;
}

.user-details{
    color: #B0B7BE;
    margin-right: 10px;
}
h2{
	font-size: 20px;
	font-weight: 700;
	padding: 20px 0px;
}
p{
	font-size: 14px;
	
}
.blog_1{
	margin-bottom: 25px;
	position: relative;
}
.blog-img-about{
	width: 81%;
	margin: 0;
	padding: 50px 50px 10px 10px;
	background-color: #FFFFFF;
	box-shadow: -1px 5px 7px 1px rgba(0,22,20,0.53);
}

.search-box{
    width: 100%;
    height: 100%;
    background-color: ;
    position: relative;
    margin-bottom: 20px;
}
.search-box input{
 
    width: 100%;
    padding: 20px;
}
.search-icon{
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 70px;
    background-color:#F3636A ;
    align-items: center;

}
.search-icon i{
    color: #fff;
}
.abc{
    width: 10px;
    height: 10px;
}
.search-btn{
	color: #FD656B;
	padding: 20px 148px;
	border: 2px solid #FD656B;
	background-color: #FFFFFF;
}
/* h3{
	font-size: 20px;
	font-weight: 700;
	padding-bottom: 20px;
	border-bottom: 2px solid #FFFFFF;
} */
.cateogry-name{
    padding: 10px 0px;
    font-size: 1rem;
}
button{
	/* margin-top: 10px;
	padding: 0px 15px; */
}
.date{
	padding-top: 5px;
	color: #B0B7BE;
}
.list{
  padding: 20px 0px;
  margin-bottom: 10px;
  border-bottom: 2px solid #FFFFFF;
}
.recent{
	display: flex;
	justify-content: space-around;
}
.cateogry{
	width: 70%;
	margin-bottom: 20px;
	background-color: #F6F9FE;
	padding: 50px 20px;
}

input{
	height: 30px;
	width: 100%;
	border: 0;
	outline: 0;
}

.email{
	margin-top: 20px;
	width: 100%;
    height: 50px;
}
.subscribe-btn{
    width: 100%;
	margin-top: 20px;
	padding: 20px 100px;
	color:#FD656B;
	border: 2px solid #FD656B;
	background-color: #FFFFFF;
}
.recent-img{
	margin-top: 10px;
	margin-right: 10px;
	height: 70px;
	width: 70px;
}
.post{
	display: flex;
	align-items: center;
	margin-top: 10px;
}
.user-profile{
    margin: 20px 0px;
}
.style{
    padding-left: 10px;
}

.next-page{
    font-size: 0.8rem;
    padding: 10px;
    border: 1px solid #768492;
    margin: 120px 10px;
}
.next-page2{
    background-color: whitesmoke;
}
.social{
    color: black;
}